.title {
  .title__underline {
    h1 {
      font-weight: 600;
      color: #14478d;
    }
    .underline__one {
      width: 71px;
      height: 6px;
      background-color: #fb5d5e;
      opacity: 0.9;
    }
  }
}
