h6 {
  margin-right: 50px;
}
.product__details__area {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #f7fafc;
  .productDetails__card {
    background-color: white;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 31px;
    padding-right: 20px;

    .productDetailsCard__img {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 31px 0px 0px 31px;
      }
    }
    .productDetails__content {
      .top__product__content {
        padding-top: 25px;
        .top__lft {
          h4 {
            color: #1c4084;
            font-size: 30px;
            font-weight: bold;
            opacity: 0.9;
          }
          P {
            margin-top: 20px;
            border: 1px solid #e2e8f0;
            border-radius: 5px;
            padding: 3px;
          }
        }
        .Share__icon {
          .icn {
            height: 42px !important;
            width: 42px;
            border: 1px solid #134a91;
            border-radius: 50%;
            padding: 5px;
            color: #134a91;
            opacity: 0.9;
          }
        }
      }
      .btm__content {
        border-top: 1px solid #134a91;
        border-bottom: 1px solid #134a91;
        padding: 10px 0px;

        h5 {
          font-size: 30px;
          color: #134a91;
          opacity: 0.9;
        }
        h6 {
          color: #fb5d60;
          opacity: 0.9;
          font-size: 24px;
        }
      }
    }
  }
  .batch {
    .batch__header {
      display: flex;
      align-items: center;
      h5 {
        color: #1c4084;
        font-size: 24px;
        opacity: 0.9;
      }
      img {
        width: 26px;
        height: 26px;
      }
    }
    small {
      color: #1c4084;
      font-size: 12px;
      opacity: 0.9;
    }
  }
}
.spcification {
  background-color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #134a91;
  .title__spc {
    h1 {
      color: #134a91;
      position: relative;
      &::before {
        position: absolute;
        content: "";
        top: 60px;
        height: 6px;
        width: 200px;
        background-color: #fb5d60;
        opacity: 0.9;
      }
      &::after {
        position: absolute;
        content: "";
        top: 75px;
        left: 0px;
        height: 6px;
        width: 100px;
        background-color: #fb5d60;
        opacity: 0.9;
      }
    }
  }
  .spc__content {
    margin-top: 50px;
    .right__spc {
      .even__content,
      .odd__content {
        display: flex;
        justify-content: space-between;
        padding: 20px 30px 20px 10px;
        background-color: #f7fafc;
      }
      .odd__content {
        background-color: white !important;
      }
    }
    .fetr__area {
      background-color: #f7fafc;
      border-radius: 24px;
      padding: 20px 30px 50px 30px;
      h4 {
        margin-top: 40px;
      }
    }
  }
  p {
    padding: 30px 50px;
    color: #000;
  }
  .btm__item {
    color: black;
    font-weight: 400;
  }
}
.show__spc__btn {
  border: none;
  border-radius: 8px;
  background-color: #fb5d60;
  padding: 10px 20px;
  color: #fff;
}
