.concrete__area {
  padding-top: 60px;
  .fuel__truck {
    .fuel__img {
      img {
        width: 100%;
      }
    }
    .feature__img {
      img {
        height: 126px;
        width: 126px;
        margin-right: 20px;
      }
    }
  }
}

.features {
  .feature {
    display: flex;
    justify-content: space-between;
  }
}
.new {
  background-color: #fbf8f8;
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.fire {
  padding-top: 50px;
  background-color: #fbf8f8;
  padding-bottom: 50px;
}
